body {
    color: #000000;
    background-color: #ffffff;
}
:link {
    color: #0000ff;
}
:visited {
    color: #8000c0;
}

.ignored {
    color: #666666;
}
.ignored > :link {
    color: #6666ff;
}
.ignored > :visited {
    color: #b366d9;
}

.good {
    color: #33cc33;
}
.bad {
    color: #ff0000;
}
